/* Add CSS Styling */
.first {
  background-color: rgb(246, 151, 166);
    font-family: Verdana, dejaVu Sans, sans-serif;
  
}
#one {
    color: blue;
    font-size: 36px
}
.second {
    font-size: 24px;
}
#two {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}
